<html>
<head>
</head>
<body>
	<frameset cols=30%,20%,50%>
		<frame src="html2.html">
		<frame src="html2.html">
		<frame src="C.html">
	</frameset>
	<hr>
	<frameset rows=30%,* bordercolor=red>
		<frame src="Acol.html">
		<frameset cols=30%,*>
		     <frame src="Bcol.html">
		     <frame src="Ccol.html">
		</frameset>
	</frameset>
	<hr>
	<marquee direction=left>啦啦啦，我从右向左移！</marquee> <P>
	<marquee direction=right>啦啦啦，我从左向右移！</marquee>
	<marquee behavior=scroll>啦啦啦，我一圈一圈绕着走！</marquee> <P>
	<marquee behavior=slide>啦啦啦，我只走一次就歇了！</marquee> <P>
	<marquee behavior=alternate>啦啦啦，我来回走耶！</marquee>
	<hr>
	<marquee loop=3 width=50% behavior=scroll>啦啦啦，我只走 3 趟哟！</marquee> <P>
	<marquee loop=3 width=50% behavior=slide>啦啦啦，我只走 3 趟哟！</marquee> <P>
	<marquee loop=3 width=50% behavior=alternate>啦啦啦，我只走 3 趟哟！</marquee>
	<marquee scrollamount=20>啦啦啦，我走得好快哟！</marquee> 
	<font size=6>
		<marquee align=# width=400>啦啦啦，我会移动耶！</marquee>
	</font>
	
	
</body>
<html>

