<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>MyHtml.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=GB18030">
    
    <link rel="stylesheet" type="text/css" href="./styles.css">

  </head>

  <body bgcolor="" text="#222334" link="#234567" alink=""> 
    <div id = "dd"; onclick="move()" style="top: 114px; left: 135px; width: 10px; height: 26px;"> 
    	dfdfdf;&nbsp; 
    </div>
    <div style="background: gray none repeat scroll 0% 50%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; z-index: 3; position: absolute; top: 81px; left: 312px; width: 208px; height: 169px;">
    dfdfdfdfd
    </div>
    <dir style="background:blue; top: 0px; left: 0px; width: 30px; height: 50px;z-index: 10">
    heheheheh
    </dir>
    <a href="http://www.baidu.com/"> baidu
    </a><br/>
    <a href = "http://www.baidu.com/" target="Window_Name"> new window
    </a><br/>
    <hr size="4" width="80%" align="left">
    <hr noshade="noshade" color="Red">
    <a href="#next">tonetx
    </a><br/>
    <a name="next">next
    </a><br/>
    <hr color="blue">
    <h1 style="color:red;">ni 很好</h1>
    <h2 align="center"><font color="#408080">ni 很好</font></h2>
    <h6 style = "color:yellow" align="center">ni 很好</h6>
    <font size="7">ni 很好
    </font><br/>
    <basefont size="7">
    <b style="color:red;">ni 很好</b><br/>
    <i style="color:blue">ni 很好</i><br/>
    <u>ni 很好</u><br/>
    <tt>ni 很好</tt><br/>
    <b>hehe</b>
    <sup>ni 很好</sup>
    <sub>ni 很好</sub>
    <s>ni 很好</s><br/>
    <strike>ni 很好</strike>
    <hr>
    <em>ni 很好</em>
    <strong>ni 很好</strong>
    <code>ni 很好</code>
    <samp>ni 很好</samp>
    <kbd>ni 很好</kbd>
    <var>ni 很好</var>
    <hr>
    <dfn>ni 很好</dfn>
    <cite>ni 很好</cite>
    <small>ni 很好</small>
    <big>ni 很好</big>
    <hr>
    <i><font size="5"><b>今天</b> 天气<font size=6> 真好！</font></font></i>
    <font color="ffffff">White</font> & <font color="white">White</font> 
    <hr size="3">
    <font face="Arial, Helvetica">Hellow World</font><p>
    &lt; &amp; &gt; &quot;<br>
    <nobr>---------------------------------------------------------------------------------------------------------------------------------------------------------------</nobr>
 	<h3 align="center">hello</h3>
 	<center>hello2</center>
 	<ul>
 		<li> today
 		<li> tommorow
 	</ul>
 	<ol>
 		<li> today
 		<li> tommorow
 	</ol>
 	<dl>
	<dt>Today
	<dd>Today is yesterday.
	<dt>Tomorrow
	<dd>Tomorrow is today.
	</dl>
	<ul>
	<li type=disc>ONE
	<li type=circle>TWO
	<li type=square>THREE
	</ul>
	<ol><li type=A>ONE-ONE<li>ONE-TWO</ol>
	<ol><li type=a>ONE-ONE<li>ONE-TWO</ol>
	<ol><li type=I>ONE-ONE<li>ONE-TWO</ol> 
	<ol><li type=i>ONE-ONE<li>ONE-TWO</ol> 
	<ol start="5"><li type=1>ONE-ONE<li>ONE-TWO</ol>
	<pre>
Please use your card.
	VISA Master
<b>Here is an order form.</b>
<ul><li>Fax<li>Air Mail</ul>
</pre>
 	<xmp>
	Please use your card.
	VISA Master
	<b>Here is an order form.</b>
	<ul><li>Fax
	<li>Air Mail</ul>
	</xmp> 
 	YESTERDAY <spacer type="horizontal" size=50> TODAY
<spacer type="vertical" size=50> TOMORROW 
 	
	<hr>
	Her Song:
	<blockquote>
	When I was young, I listened to the radio 
	waiting for my favorite songs....
	</blockquote>
	<blink style="color:red">闪烁，闪烁!</blink>
	<hr>
	<img src="/testhtml/WebRoot/WEB-INF/lib/{67090664-2711-40E8-A339-4AFE0BB703D9}.gif">
 	<img src="{67090664-2711-40E8-A339-4AFE0BB703D9}.gif" alt="my face">
 	
 	
  </body>
  <script type="text/javascript">
  	function move()
  	{
  		alert("wo kao");
		document.getElementById("dd").style.display = 'none';
  	}
  </script>
</html>
