
<html>
<head> <title>home</title>
</head>
<body>
	<frameset rows="30%,20%,50%">
		<frame src="../test/MyHtml.html">
		<frame src="../test/html2.html">
		<frame src="../test/frameshtml.html">
	</frameset>
	<center>
	<a href = "../test/MyHtml">toMyHtml</a>
	</center>
	<hr>
	<center>
	<a href = "../test/html2">tohtml2</a>
	</center>
	<hr>
	<center>
	<a href = "../test/frameshtml">toframeshtml</a>
	</center>
	<hr style="color:red;">
	<center>
	<a href = "../gg/ggg">toggg</a>
	</center>
	<center>
	<a href = "../gg/GoogleCode">toGoogleCode</a>
	</center>
</body>
</html>